body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.header {
    background-color: #fafafa;
    padding: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-nav {
    display: flex;
}
.header-ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: bold;
}

.header-ul li {
    align-items: center;
    display: flex;
    gap: 5px;
}
.header-ul li:hover {
    color: green;
    cursor: pointer;
}

.button-maneiro {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #62bfe6;
    border: none;
    padding: 20px;
    font-weight: bold;
}

.button-maneiro:hover {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section-place {
    width: 100%;
    height: 500px;
    background-image: url(./img/foto-escola.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    background-attachment: scroll;
    background-color: #313131;
}

.text-togther {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 100px 0px 0px 100px;
}

.section-h1, 
.section-p {
    text-transform: uppercase;
    color: #000000;
}

.section-p {
    text-transform: lowercase;
}
.pesquisa {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

input {
    padding: 15px;
    border-radius: 8px;
    border: none;
    
    box-shadow: rgb(0, 0, 0) 0px 0px 3px;
}
button {
    border: none;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #00aeffde;
    cursor: pointer;
    color: black;

}
button:hover {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    box-shadow: rgb(0, 0, 0) 0px 0px 4px;
}
.user {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: 50px;
}

.users {
    font-size: 40px;
}

.messages {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 8px;
}

.arrow {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.main {
    background-color: #00000060;
    padding: 1px;
}

.sobre-h1 {
    color: black;
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: center;
    text-transform: uppercase;
}

.article {
    height: 500px;
}